body {
  font-family: 'Montserrat', sans-serif;
}

.nav {
  font-size: 15px;
  line-height: 18, 29px;
  font-weight: 600;
}

.nav__item-red {
  color: #e51937;
}

.nav__item,
.nav__par {
  color: #000;
}

.main__title {
  font-size: 90px;
  line-height: 109, 71px;
  font-weight: 600;
}

.main__subtitle {
  font-size: 15px;
  line-height: 18, 29px;
  font-weight: 500;
}

.description__info-number {
  font-size: 35px;
  line-height: 42, 67px;
  font-weight: 600;
}

.description__info-value {
  font-size: 20px;
  line-height: 24, 38px;
  font-weight: 600;
}

.description__info-text {
  font-size: 12px;
  line-height: 14, 63px;
  font-weight: 400;
}

.description__test-subtitle {
  font-size: 13px;
  line-height: 15, 85px;
  font-weight: 700;
  align-content: center;
}

.input_color_red {
  font-size: 13px;
  line-height: 15, 85px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #e51937;
  border-color: #e51937;
  background-color: #fff;
}

.article__title {
  font-weight: 600;
  font-size: 70px;
  line-height: 85, 33px;
  color: #e51937;
}

.article-info {
  background-color: #e51937;
  color: #fff;
}

.tit {
  font-weight: 500;
  font-size: 30px;
  line-height: 36, 57;
}

.text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18, 29;
}

.description__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 17, 55px;
}

.description__info {
  font-weight: 400;
  font-size: 12px;
  line-height: 14, 63px;
}

.input,
.input_color_white {
  font-weight: 700;
  font-size: 13px;
  font-style: bold;
  line-height: 15, 85px;
  line-height: 100%;
  align-self: center;
  color: #fff;
  background-color: #e51937;
}

.input {
  border: 0;
}

.input_color_white {
  border-color: #fff;
}

.article-safety {
  background-color: #e51937;
  color: #fff;
}

.article-safety__criterion {
  height: 21px;
  left: 56px;
  font-size: 17px;
  line-height: 21px;
  font-weight: 600;
}

.span__stars {
  left: 151px;
  top: 2457px;
  font-weight: 600;
  font-size: 50px;
  line-height: 60, 95px;
}

.span__safety {
  font-size: 25px;
  line-height: 30, 48px;
  font-weight: 500;
}

.span-pic__pro {
  font-size: 17px;
  line-height: 14, 92;
  font-weight: 600;
}
