* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  height: 7vw;
  margin-bottom: 1.7vw;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1.7vw;
  color: #000;
}

.header__img {
  margin: 0 17.9vw 0.1vw 2.9vw;
}

.nav__item-red,
.nav__item-X,
.nav__item-3,
.nav__item-roadster,
.nav__item-energy,
.nav__par,
.nav__item {
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
}

.nav__item,
.nav__par {
  color: #000;
}

.nav__item-red {
  color: #e51937;
  margin: 0 4.4vw 1.7vw 0;
  text-decoration: none;
  border-bottom: 0.1vw solid #e51937;
  line-height: 2.2vw;
  border-bottom-left-radius: 0.2vw;
  border-bottom-right-radius: 0.2vw;
  display: inline;
}

.nav__item-X {
  text-decoration: none;
  margin: 0 1.8vw 1.7vw 0;
  color: #000;
}

.nav__item-3 {
  margin: 0 3vw 1.7vw 0;
  text-decoration: none;
  color: #000;
}

.nav__item-roadster {
  margin: 0 3.3vw 1.8vw 0;
  text-decoration: none;
  color: #000;
}

.nav__item-energy {
  margin: 0 15.4vw 1.8vw 0;
  text-decoration: none;
  color: #000;
}

.nav__item {
  margin: 0 1.9vw 1.7vw 0;
  text-decoration: none;
}

.nav__par {
  margin: 0 2vw 1.7vw 0.2vw;
  text-decoration: none;
}

#body__switch {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main__title {
  font-size: 90px;
  line-height: 110px;
  font-weight: 600;
  margin: 9px 0 0;
  height: 101px;
}

.main__subtitle {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: url(./images/Tesla-Wordmark-Red-big.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 84.5vw;
  padding: 2px;
  height: 500px;
  width: 100%;
  margin: 1.6vw 2.6vw 0 0.5vw;
}

img.img-Car {
  margin: 0 0 3.3vw 14.9vw;
}

.description__info-number {
  font-size: 35px;
  line-height: 43px;
  font-weight: 600;
}

.description__info-value {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.description__info-text {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

.description__test-subtitle {
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  align-content: center;
}

.input_color_red {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #e51937;
  border-color: #e51937;
  background-color: #fff;
}

.article__title {
  font-weight: 600;
  font-size: 70px;
  line-height: 85px;
  color: #e51937;
}

.article-info {
  background-color: #e51937;
  color: #fff;
}

.tit {
  font-weight: 500;
  font-size: 30px;
  line-height: 37;
}

.text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18;
}

.description__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
}

.description__info {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.input,
.input_color_white {
  font-weight: 700;
  font-size: 13px;
  font-style: bold;
  line-height: 16px;
  align-self: center;
  color: #fff;
  background-color: #e51937;
}

.input {
  border: 0;
}

.input_color_white {
  border-color: #fff;
}

.section {
  display: flex;
  justify-content: flex-start;
  margin: 0 14vw 0vw 3vw;
}

.main__span {
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.article-safety {
  background-color: #e51937;
  color: #fff;
}

.article-safety__criterion {
  height: 21px;
  left: 56px;
  font-size: 17px;
  line-height: 21px;
  font-weight: 600;
}

.span__stars {
  left: 151px;
  top: 2457px;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
}

.span__safety {
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
}

.span-pic__pro {
  font-size: 17px;
  line-height: 15px;
  font-weight: 600;
}
